<!DOCTYPE html>
<html>
  <head>
    <title>113 Seneca Chase Court</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Scope+One" rel="stylesheet"></link>
    <link href="/css/normalize-5.0.0.css" rel="stylesheet"></link>
    <link href="/css/bootstrap-3.3.7.css" rel="stylesheet"></link>
    <link href="/css/bootstrap-theme-3.3.7.css" rel="stylesheet"></link>
    <link href="/css/app.css" rel="stylesheet"></link>
    <script src='/js/jquery-3.1.1.min.js'></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">113 Seneca Chase Court</h1>
            </div>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/01.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/02.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/03.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/04.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/05.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/06.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/07.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/08.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/09.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/10.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/11.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/12.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/13.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/14.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/15.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/16.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/17.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/18.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/19.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/20.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/21.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/22.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/23.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/24.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/25.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/26.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/27.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/28.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/29.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/30.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/31.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Aliquam fringilla, lectus vitae malesuada.</h2>
                    <p>Sed nunc dui, laoreet et fringilla nec, aliquam sit amet dolor. Cras faucibus, justo vel ullamcorper accumsan, elit nibh tempus dui, eget tincidunt ante dolor eget nisi. Morbi at viverra eros. Nulla sed dui dui. Ut gravida euismod dolor vitae.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row">
            <section class="col-sm-12" data-scrollax-parent="true">
              <div class="cover" data-scrollax="properties: { translateY: '30%' }"><img src="/images/32.jpg" /></div>
              <div class="content">
                <div class="text centralize">
                  <div data-scrollax="properties: { 'translateY': '150%', 'opacity': 1.5 }">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent est turpis, aliquam quis molestie in, imperdiet a urna. Maecenas vel condimentum enim, eget tempor lectus. Vivamus ut nisi in enim vestibulum aliquam at quis nunc. Suspendisse ac erat eu.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>

        </div>
      </div>
    </div>

    <script src='/js/scrollax.js'></script>
    <script>
      $(function() {
        'use strict';
        $.Scrollax();
      });
    </script>
  </body>
</html>
