.blue{
  color: rgb(0, 112, 192);
}

.gold{
  color: rgb(184, 146, 1);
}

.grey{
  color: #BBB;
}

.text-bold{
  font-weight: 700;
}

.rsvp {
  font-family: 'Roboto Slab', serif;
  display: block;
  margin: auto;
  text-decoration: underline;
  font-size: 2em;
}

header {
  padding: 2.5em;
  font-family: 'Robot Condensed', sans-serif;
}

.header-main {
  display: inline-block;
  width: 25em;
  margin: auto;
  line-height: 3em;
}

.header-right {
  display: inline-block;
  transform: translateX(-50%) translateY(-135%) rotate(90deg);
  width: 2em;
}

.header-text-sm {
  font-size: 2.5em;
  text-transform: uppercase;
}

.header-text-md {
  font-size: 3.5em;
  text-transform: uppercase;
}

.header-text-lg {
  font-size: 5.35em;
  text-transform: uppercase;
}

h1 {
  margin: 20px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}


section {
  display: block;
  width: 100%;
}

.dark {
  background: rgba(0, 0, 0, 0.7);
}

.light {
  background: white;
}

subheader {
  padding: 2.5em;
  display: block;
  margin: auto;
  font-family: 'Robot Condensed', sans-serif;
}

.subheader-text {
  font-size: 2em;
  display: block;
  line-height: 1.25em;
}

summary {
  padding: 2.5em;
  display: block;
  margin: auto;
  font-family: 'Roboto Slab', serif;
}

.summary-text {
  font-size: 2em;
  display: block;
  line-height: 1.25em;
}
